.searchBar {
  width: 800px;
  height: 50px;
  margin: 20px auto;
  display: flex;
}

.searchBar form {
  width: 95%;
  height: inherit;
}

.searchBar button {
  margin-top: 10px;
}

.searchBar input {
  height: inherit;
  width: inherit;
  border-radius: 20px;
  padding: 30px;
  font-size: 20px;
}

.noOutline:focus {
  outline: none;
}

.searchBar input::placeholder {
  font-size: 20px;
}
