.bubbleContainer {
  height: 200px;
  width: 100%;
  background-color: #71ba88;
  border-radius: 40px;
  position: relative;
  /* right: 20px; */
  /* margin-bottom: 30px; */
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: scroll;
}

.none {
  display: none;
}

.bubbleTitle {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px #599068 solid;
}

.bubbleTitle h3 {
  font-size: 20px;
  font-weight: bolder;
}

.likes p {
  color: #599068;
  font-weight: bold;
  font-size: 20px;
}

.likes {
  display: flex;
}

.likes:hover {
  cursor: pointer;
}

.msg {
  color: white;
  text-align: left;
}
.msg p {
  font-size: 20px;
}
